p,
h6 {
  font-family: "Roboto", sans-serif;
  color: #d3d4d3;
}

.top-line {
  height: 15px;
  /* background-color: #330c2f; */
  background-color: #d64550;
}

.top-line-sub {
  height: 8px;
  background-color: #ec9f05;
}

.title {
  font-family: "Lato", sans-serif;
}

body {
  /* background-color: #21212e !important; */
  background: linear-gradient(
    0deg,
    rgba(2, 12, 23, 1) 0%,
    rgba(3, 20, 38, 1) 50%,
    rgba(5, 31, 57, 1) 90%,
    rgba(7, 41, 75, 1) 100%
  );
  background-attachment: fixed;
}

.logo {
  height: 3.5em;
  padding: 0 0.5em 0 0;
}

.content {
  border-radius: 40px !important;
  border-top-right-radius: 40px !important;
}

.navbar-brand {
  color: #d3d4d3 !important;
}

.nav-link {
  color: #d3d4d3 !important;
}

.nav-link:hover {
  color: #ec9f05 !important;
}

.main {
  background-color: transparent !important;
  padding: 5em 0;
}

.name {
  color: #d64550;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
}

.cta {
  border-radius: 5px;
  padding: 0.5em 1.5em;
  margin-right: 0.25em;
  border: 0;
  margin-bottom: 0.6em;
}

.view-resume {
  color: #222331 !important;
  background-color: #d3d4d3 !important;
}

.view-resume:hover {
  background-color: #00bfb2;
}

.contact-me {
  color: #222331;
  background-color: #ec9f05;
}

hr {
  height: 1px;
  border: none;
  border-top: 3px solid #d64550 !important;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #ec9f05;
  margin: 1.5em 0 1em 0 !important;
}

.service-card {
  background-color: transparent !important;
  min-height: 10em !important;
  padding: 0 1em;
}

.service-image {
  width: 5em;
  margin: 0em 1em 1em 1em;
}

.skills {
  color: #ec9f05 !important;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

h5 {
  color: #d64550;
}

.skill-title {
  color: #ec9f05;
}

.website-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.site-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.website-wrapper img {
  transition: transform 1s ease;
}

.website-wrapper:hover img {
  transform: scale(1.5);
  overflow: hidden;
}

.view-site {
  text-decoration: none;
  color: #ec9f05;
}

.view-site:hover {
  text-decoration: none;
  color: #d64550;
}

input,
textarea {
  background-color: #d3d4d3;
  width: 100%;
  padding: 0.25em;
}

.button-submit {
  border-radius: 5px;
  padding: 0.5em 1.5em;
  margin-right: 0.25em;
  border: 0;
  margin-bottom: 0.6em;
  background-color: #ec9f05;
}

footer {
  background-color: #0f0f0f;
  text-align: center;
  padding: 3em 1em 3em 1em;
  margin-top: 5em;
  color: #4e4e4e;
}

.image-main {
  width: 50%;
  margin: 0em 0 3em 0;
}

.sent-notification {
  color: #ec9f05;
}
